# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson
#

'.source.js':

  'main':
    'prefix': 'dekk-main'
    'body': """
import Config from './config'
import React from 'react'
import uuid from 'uuid/v4'
import Fragment from '@dekk/fragment'
import {Text, Title, Subtitle, Uppercase, Bold, Center, colorSchemes} from '@dekk/text'
import {default as MaskedImage, FitImage} from '@dekk/image'
import Notes from '@dekk/speaker-notes'
import {Main} from '@dekk/master-slides'
import 'codemirror/mode/javascript/javascript'
import {Plugins} from '@dekk/deck'
// import * as wimbAnimation from '../animation'
// import * as dekkAnimation from '@dekk/animation'
import {Code2} from '../components'

const {Slide, A} = Main

const notes = (
  <Notes>
    <h3>$2</h3>
    <p>$3</p>
  </Notes>
)

export default (
  <Slide key={uuid()}>
    <Plugins.Data luminave={['']}></Plugins.Data>
    {notes}

    <A>
      $1
    </A>

  </Slide>
)

    """

######################################


  'cover':
    'prefix': 'dekk-cover'
    'body': """
import React from 'react'
import uuid from 'uuid/v4'
import Fragment from '@dekk/fragment'
// Text, Title, Subtitle, Uppercase, Bold, Center, Code
import {Title, Subtitle} from '@dekk/text'
// import {default as MaskedImage, FitImage} from '@dekk/image'
import Notes from '@dekk/speaker-notes'
// Cover, Chapter, Half, Collage, Grid, ImageGrid
import {Cover} from '@dekk/master-slides'
// import * as wimbAnimation from '../animation'
// import * as dekkAnimation from '@dekk/animation'
// import {SuperTimer} from '../components'

const {Slide, A, B} = Cover

const notes = (
  <Notes>
    <h3>$3</h3>
    <p></p>
  </Notes>
)

export default (
  <Slide key={uuid()}>
    {notes}

    <A>
      <Title>$1</Title>
    </A>

    <B>
      <Subtitle>$2</Subtitle>
    </B>

  </Slide>
)

    """

######################################

  'chapter':
    'prefix': 'dekk-chapter'
    'body': """
import React from 'react'
import uuid from 'uuid/v4'
import Fragment from '@dekk/fragment'
// Text, Title, Subtitle, Uppercase, Bold, Center, Code
import {Title, Subtitle, Text} from '@dekk/text'
// import {default as MaskedImage, FitImage} from '@dekk/image'
import Notes from '@dekk/speaker-notes'
// Cover, Chapter, Half, Collage, Grid, ImageGrid
import {Chapter} from '@dekk/master-slides'
// import * as wimbAnimation from '../animation'
// import * as dekkAnimation from '@dekk/animation'
// import {SuperTimer} from '../components'

const {Slide, A, B} = Chapter

const notes = (
  <Notes>
    <h3>$3</h3>
    <p></p>
  </Notes>
)

export default (
  <Slide key={uuid()}>
    {notes}

    <A>
      <Title>$1</Title>
    </A>

    <B>
      <Subtitle>$2</Subtitle>
    </B>

  </Slide>
)

    """

######################################

  'half':
    'prefix': 'dekk-half'
    'body': """
import React from 'react'
import uuid from 'uuid/v4'
import Fragment from '@dekk/fragment'
// Text, Title, Subtitle, Uppercase, Bold, Center, Code
import {Title, Subtitle, Text} from '@dekk/text'
import {default as MaskedImage, FitImage} from '@dekk/image'
import Notes from '@dekk/speaker-notes'
// Cover, Chapter, Half, Collage, Grid, ImageGrid
import {Half} from '@dekk/master-slides'
// import * as wimbAnimation from '../animation'
// import * as dekkAnimation from '@dekk/animation'
// import {SuperTimer} from '../components'

const {Slide, A, B} = Half

const notes = (
  <Notes>
    <h3>$3</h3>
    <p></p>
  </Notes>
)

export default (
  <Slide key={uuid()}>
    {notes}

    <A>
      <FitImage>$1</FitImage>
    </A>

    <B>
      <Subtitle>$2</Subtitle>
    </B>

  </Slide>
)

    """

######################################

  'collage':
    'prefix': 'dekk-collage'
    'body': """
import React from 'react'
import uuid from 'uuid/v4'
import Fragment from '@dekk/fragment'
// Text, Title, Subtitle, Uppercase, Bold, Center, Code
import {Title, Subtitle, Text} from '@dekk/text'
import {default as MaskedImage, FitImage} from '@dekk/image'
import Notes from '@dekk/speaker-notes'
// Cover, Chapter, Half, Collage, Grid, ImageGrid
import {Collage} from '@dekk/master-slides'
// import * as wimbAnimation from '../animation'
// import * as dekkAnimation from '@dekk/animation'
// import {SuperTimer} from '../components'

const {Slide, A, B, C} = Collage

const notes = (
  <Notes>
    <h3>$3</h3>
    <p></p>
  </Notes>
)

export default (
  <Slide key={uuid()}>
    {notes}

    <A>
      <Subtitle>$1</Subtitle>
    </A>

    <B>
      <FitImage>$2</FitImage>
    </B>

    <C>
      <FitImage>$3</FitImage>
    </C>

  </Slide>
)

    """

######################################

  'grid':
    'prefix': 'dekk-grid'
    'body': """
import React from 'react'
import uuid from 'uuid/v4'
import Fragment from '@dekk/fragment'
// Text, Title, Subtitle, Uppercase, Bold, Center, Code
import {Title, Subtitle, Text} from '@dekk/text'
import {default as MaskedImage, FitImage} from '@dekk/image'
import Notes from '@dekk/speaker-notes'
// Cover, Chapter, Half, Collage, Grid, ImageGrid
import {Grid} from '@dekk/master-slides'
// import * as wimbAnimation from '../animation'
// import * as dekkAnimation from '@dekk/animation'
// import {SuperTimer} from '../components'

const {Slide, A, B, C, D} = Grid

const notes = (
  <Notes>
    <h3>$3</h3>
    <p></p>
  </Notes>
)

export default (
  <Slide key={uuid()}>
    {notes}

    <A>
      <Code>Any element</Code>
    </A>

    <B>
      <Code>Any element</Code>
    </B>

    <C>
      <Code>Any element</Code>
    </C>

    <D>
      <Code>Any element</Code>
    </D>
  </Slide>
)

    """

######################################

  'imageGrid':
    'prefix': 'dekk-imageGrid'
    'body': """
import React from 'react'
import uuid from 'uuid/v4'
import Fragment from '@dekk/fragment'
// Text, Title, Subtitle, Uppercase, Bold, Center, Code
import {Title, Subtitle, Text} from '@dekk/text'
import {default as MaskedImage, FitImage} from '@dekk/image'
import Notes from '@dekk/speaker-notes'
// Cover, Chapter, Half, Collage, Grid, ImageGrid
import {ImageGrid} from '@dekk/master-slides'
// import * as wimbAnimation from '../animation'
// import * as dekkAnimation from '@dekk/animation'
// import {SuperTimer} from '../components'

const {Slide, A, B, C, D} = ImageGrid

const notes = (
  <Notes>
    <h3>$5</h3>
    <p></p>
  </Notes>
)

export default (
  <Slide key={uuid()}>
    {notes}

    <A>
      <FitImage>$1</FitImage>
    </A>

    <B>
      <FitImage>$2</FitImage>
    </B>

    <C>
      <FitImage>$3</FitImage>
    </C>

    <D>
      <FitImage>$4</FitImage>
    </D>
  </Slide>
)

    """

######################################

  'fragment':
    'prefix': 'dekk-fragment'
    'body': '<Fragment order={$1}>$2</Fragment>'

######################################

  'animation':
    'prefix': 'dekk-animation'
    'body': 'animation={$1}'

######################################

  'text':
    'prefix': 'dekk-text'
    'body': '<Text>$1</Text>'

######################################

  'title':
    'prefix': 'dekk-title'
    'body': '<Title>$1</Title>'

######################################

  'subtitle':
    'prefix': 'dekk-subtitle'
    'body': '<Subtitle>$1</Subtitle>'

######################################

  'uppercase':
    'prefix': 'dekk-uppercase'
    'body': '<Uppercase>$1</Uppercase>'

######################################

  'bold':
    'prefix': 'dekk-bold'
    'body': '<Bold>$1</Bold>'

######################################

  'center':
    'prefix': 'dekk-center'
    'body': '<Center>$1</Center>'

######################################

  'code':
    'prefix': 'dekk-code'
    'body': '<Code>$1</Code>'

######################################

  'supertimer':
    'prefix': 'dekk-supertimer'
    'body': """
<Fragment order={1}>
  {(t, a) => {return <SuperTimer isPlaying={a} timer={$1}></SuperTimer>}}
</Fragment>
    """

######################################

  'fitimage':
    'prefix': 'dekk-fitimage'
    'body': """
<FitImage src="$1"
          alt="$2" />
    """

######################################

  'larageimage':
    'prefix': 'dekk-largeimage'
    'body': """
<LargeImage src="$1"
            alt="$2" />
    """



######################################

  'codemirror':
    'prefix': 'dekk-codemirror'
    'body': """
import {select} from '../utils'

const ranges = [
  [ //

  ],
]

const codeOptions = {
  lineNumbers: true,
  mode: 'javascript',
  theme: 'neo'
}

const code = ``

      <Code2 ranges={ranges} options={codeOptions}>
          {code}
      </Code2>
    """

######################################

  'codemirror-select':
    'prefix': 'dekk-select'
    'body': 'select([$1, $3], [$2, $4])'


######################################

  'rainbowtext':
    'prefix': 'dekk-rainbowtext'
    'body': '<RainbowText time={$1} text="$2"/>'

######################################

  'slide-color':
    'prefix': 'dekk-slide-color'
    'body': 'mixin="--slide-color: $1"'

######################################

  'slide-background-image':
    'prefix': 'dekk-slide-background-image'
    'body': 'background={`url(media/$1)`}'


######################################

  'slide-background-color':
    'prefix': 'dekk-slide-background-color'
    'body': 'background="$1"'



######################################

  'comment':
    'prefix': 'dekk-comment'
    'body': '{/* $1 */}'